Savory/Savory/Web References/AutoURLValidateService/openf2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VCM_AutoURL_Validate_User_Info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="URLEncrypted" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ApplicationCode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VCM_AutoURL_Validate_User_InfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VCM_AutoURL_Validate_User_InfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUtcSqlServerDate">
        <s:complexType />
      </s:element>
      <s:element name="GetUtcSqlServerDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUtcSqlServerDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strEmailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIpAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckUserStatusResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserLoginActivatationFLag">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lUserID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserLoginActivatationFLagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetUserLoginActivatationFLagResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserPasswordFlag">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lUserID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="iFlag" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserPasswordFlagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetUserPasswordFlagResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lUserId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmailIDFromUserID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lUserId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmailIDFromUserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmailIDFromUserIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserCustomerDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lUserId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserCustomerDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserCustomerDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserSecurityQuestion_And_Answer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserSecurityQuestion_And_AnswerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserSecurityQuestion_And_AnswerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strEmailId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserIDResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCMEUserIdFromGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCMEUserIdFromGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCMEUserIdFromGuidResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCMEUserGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pUserId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="pGUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCMEUserGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveCMEUserGuidResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserstate">
        <s:complexType />
      </s:element>
      <s:element name="GetUserstateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserstateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAutoURLGeoIPInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAutoURLGeoIPInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAutoURLGeoIPInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeastApps_SharedAutoURL_Validate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pRefId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeastApps_SharedAutoURL_ValidateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BeastApps_SharedAutoURL_ValidateResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserName">
        <s:complexType />
      </s:element>
      <s:element name="GetUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateUserResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BeastApps_SharedAutoURL_UpdateClickCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pRefId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeastApps_SharedAutoURL_UpdateClickCountResponse">
        <s:complexType />
      </s:element>
      <s:element name="BeastApps_SharedAutoURL_StoppedByInitiator">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pUserID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pInstanceID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeastApps_SharedAutoURL_StoppedByInitiatorResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendUserLoginMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pMailType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLoginUserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pClient" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pIpAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendUserLoginMailResponse">
        <s:complexType />
      </s:element>
      <s:element name="ResetUserPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserLoginId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIpAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strClient" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetUserPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetUserPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="long" type="s:long" />
      <s:element name="int" type="s:int" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="VCM_AutoURL_Validate_User_InfoSoapIn">
    <wsdl:part name="parameters" element="tns:VCM_AutoURL_Validate_User_Info" />
  </wsdl:message>
  <wsdl:message name="VCM_AutoURL_Validate_User_InfoSoapOut">
    <wsdl:part name="parameters" element="tns:VCM_AutoURL_Validate_User_InfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetUtcSqlServerDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetUtcSqlServerDate" />
  </wsdl:message>
  <wsdl:message name="GetUtcSqlServerDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetUtcSqlServerDateResponse" />
  </wsdl:message>
  <wsdl:message name="CheckUserStatusSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUserStatus" />
  </wsdl:message>
  <wsdl:message name="CheckUserStatusSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUserStatusResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserLoginActivatationFLagSoapIn">
    <wsdl:part name="parameters" element="tns:SetUserLoginActivatationFLag" />
  </wsdl:message>
  <wsdl:message name="SetUserLoginActivatationFLagSoapOut">
    <wsdl:part name="parameters" element="tns:SetUserLoginActivatationFLagResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserPasswordFlagSoapIn">
    <wsdl:part name="parameters" element="tns:SetUserPasswordFlag" />
  </wsdl:message>
  <wsdl:message name="SetUserPasswordFlagSoapOut">
    <wsdl:part name="parameters" element="tns:SetUserPasswordFlagResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmailIDFromUserIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmailIDFromUserID" />
  </wsdl:message>
  <wsdl:message name="GetEmailIDFromUserIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmailIDFromUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserCustomerDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserCustomerDetails" />
  </wsdl:message>
  <wsdl:message name="GetUserCustomerDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserCustomerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserSecurityQuestion_And_AnswerSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserSecurityQuestion_And_Answer" />
  </wsdl:message>
  <wsdl:message name="GetUserSecurityQuestion_And_AnswerSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserSecurityQuestion_And_AnswerResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserID" />
  </wsdl:message>
  <wsdl:message name="GetUserIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetCMEUserIdFromGuidSoapIn">
    <wsdl:part name="parameters" element="tns:GetCMEUserIdFromGuid" />
  </wsdl:message>
  <wsdl:message name="GetCMEUserIdFromGuidSoapOut">
    <wsdl:part name="parameters" element="tns:GetCMEUserIdFromGuidResponse" />
  </wsdl:message>
  <wsdl:message name="SaveCMEUserGuidSoapIn">
    <wsdl:part name="parameters" element="tns:SaveCMEUserGuid" />
  </wsdl:message>
  <wsdl:message name="SaveCMEUserGuidSoapOut">
    <wsdl:part name="parameters" element="tns:SaveCMEUserGuidResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateUserSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="ValidateUserSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserstateSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserstate" />
  </wsdl:message>
  <wsdl:message name="GetUserstateSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserstateResponse" />
  </wsdl:message>
  <wsdl:message name="GetAutoURLGeoIPInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetAutoURLGeoIPInfo" />
  </wsdl:message>
  <wsdl:message name="GetAutoURLGeoIPInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetAutoURLGeoIPInfoResponse" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_ValidateSoapIn">
    <wsdl:part name="parameters" element="tns:BeastApps_SharedAutoURL_Validate" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_ValidateSoapOut">
    <wsdl:part name="parameters" element="tns:BeastApps_SharedAutoURL_ValidateResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserName" />
  </wsdl:message>
  <wsdl:message name="GetUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_UpdateClickCountSoapIn">
    <wsdl:part name="parameters" element="tns:BeastApps_SharedAutoURL_UpdateClickCount" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_UpdateClickCountSoapOut">
    <wsdl:part name="parameters" element="tns:BeastApps_SharedAutoURL_UpdateClickCountResponse" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_StoppedByInitiatorSoapIn">
    <wsdl:part name="parameters" element="tns:BeastApps_SharedAutoURL_StoppedByInitiator" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_StoppedByInitiatorSoapOut">
    <wsdl:part name="parameters" element="tns:BeastApps_SharedAutoURL_StoppedByInitiatorResponse" />
  </wsdl:message>
  <wsdl:message name="SendUserLoginMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendUserLoginMail" />
  </wsdl:message>
  <wsdl:message name="SendUserLoginMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendUserLoginMailResponse" />
  </wsdl:message>
  <wsdl:message name="ResetUserPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ResetUserPassword" />
  </wsdl:message>
  <wsdl:message name="ResetUserPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ResetUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="VCM_AutoURL_Validate_User_InfoHttpGetIn">
    <wsdl:part name="URLEncrypted" type="s:string" />
    <wsdl:part name="IPAddress" type="s:string" />
    <wsdl:part name="ApplicationCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VCM_AutoURL_Validate_User_InfoHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetUtcSqlServerDateHttpGetIn" />
  <wsdl:message name="GetUtcSqlServerDateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckUserStatusHttpGetIn">
    <wsdl:part name="strEmailId" type="s:string" />
    <wsdl:part name="strIpAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckUserStatusHttpGetOut">
    <wsdl:part name="Body" element="tns:long" />
  </wsdl:message>
  <wsdl:message name="SetUserLoginActivatationFLagHttpGetIn">
    <wsdl:part name="lUserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetUserLoginActivatationFLagHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SetUserPasswordFlagHttpGetIn">
    <wsdl:part name="lUserID" type="s:string" />
    <wsdl:part name="iFlag" type="s:string" />
    <wsdl:part name="strEmail" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetUserPasswordFlagHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpGetIn">
    <wsdl:part name="lUserId" type="s:string" />
    <wsdl:part name="oldPassword" type="s:string" />
    <wsdl:part name="newPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetEmailIDFromUserIDHttpGetIn">
    <wsdl:part name="lUserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEmailIDFromUserIDHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserCustomerDetailsHttpGetIn">
    <wsdl:part name="lUserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserCustomerDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserSecurityQuestion_And_AnswerHttpGetIn">
    <wsdl:part name="strEmail" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserSecurityQuestion_And_AnswerHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserIDHttpGetIn">
    <wsdl:part name="strEmailId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserIDHttpGetOut">
    <wsdl:part name="Body" element="tns:long" />
  </wsdl:message>
  <wsdl:message name="GetCMEUserIdFromGuidHttpGetIn">
    <wsdl:part name="pGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCMEUserIdFromGuidHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SaveCMEUserGuidHttpGetIn">
    <wsdl:part name="pUserId" type="s:string" />
    <wsdl:part name="pGUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveCMEUserGuidHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ValidateUserHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateUserHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetUserstateHttpGetIn" />
  <wsdl:message name="GetUserstateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAutoURLGeoIPInfoHttpGetIn">
    <wsdl:part name="IPAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAutoURLGeoIPInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_ValidateHttpGetIn">
    <wsdl:part name="pRefId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_ValidateHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetUserNameHttpGetIn" />
  <wsdl:message name="GetUserNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_UpdateClickCountHttpGetIn">
    <wsdl:part name="pRefId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_UpdateClickCountHttpGetOut" />
  <wsdl:message name="BeastApps_SharedAutoURL_StoppedByInitiatorHttpGetIn">
    <wsdl:part name="pUserID" type="s:string" />
    <wsdl:part name="pInstanceID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_StoppedByInitiatorHttpGetOut" />
  <wsdl:message name="SendUserLoginMailHttpGetIn">
    <wsdl:part name="pMailType" type="s:string" />
    <wsdl:part name="pLoginUserEmail" type="s:string" />
    <wsdl:part name="pClient" type="s:string" />
    <wsdl:part name="pIpAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendUserLoginMailHttpGetOut" />
  <wsdl:message name="ResetUserPasswordHttpGetIn">
    <wsdl:part name="strUserLoginId" type="s:string" />
    <wsdl:part name="strIpAddress" type="s:string" />
    <wsdl:part name="strClient" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ResetUserPasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="VCM_AutoURL_Validate_User_InfoHttpPostIn">
    <wsdl:part name="URLEncrypted" type="s:string" />
    <wsdl:part name="IPAddress" type="s:string" />
    <wsdl:part name="ApplicationCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VCM_AutoURL_Validate_User_InfoHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetUtcSqlServerDateHttpPostIn" />
  <wsdl:message name="GetUtcSqlServerDateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckUserStatusHttpPostIn">
    <wsdl:part name="strEmailId" type="s:string" />
    <wsdl:part name="strIpAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckUserStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:long" />
  </wsdl:message>
  <wsdl:message name="SetUserLoginActivatationFLagHttpPostIn">
    <wsdl:part name="lUserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetUserLoginActivatationFLagHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SetUserPasswordFlagHttpPostIn">
    <wsdl:part name="lUserID" type="s:string" />
    <wsdl:part name="iFlag" type="s:string" />
    <wsdl:part name="strEmail" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetUserPasswordFlagHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpPostIn">
    <wsdl:part name="lUserId" type="s:string" />
    <wsdl:part name="oldPassword" type="s:string" />
    <wsdl:part name="newPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetEmailIDFromUserIDHttpPostIn">
    <wsdl:part name="lUserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEmailIDFromUserIDHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserCustomerDetailsHttpPostIn">
    <wsdl:part name="lUserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserCustomerDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserSecurityQuestion_And_AnswerHttpPostIn">
    <wsdl:part name="strEmail" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserSecurityQuestion_And_AnswerHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserIDHttpPostIn">
    <wsdl:part name="strEmailId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserIDHttpPostOut">
    <wsdl:part name="Body" element="tns:long" />
  </wsdl:message>
  <wsdl:message name="GetCMEUserIdFromGuidHttpPostIn">
    <wsdl:part name="pGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCMEUserIdFromGuidHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SaveCMEUserGuidHttpPostIn">
    <wsdl:part name="pUserId" type="s:string" />
    <wsdl:part name="pGUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveCMEUserGuidHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ValidateUserHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateUserHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetUserstateHttpPostIn" />
  <wsdl:message name="GetUserstateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAutoURLGeoIPInfoHttpPostIn">
    <wsdl:part name="IPAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAutoURLGeoIPInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_ValidateHttpPostIn">
    <wsdl:part name="pRefId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_ValidateHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetUserNameHttpPostIn" />
  <wsdl:message name="GetUserNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_UpdateClickCountHttpPostIn">
    <wsdl:part name="pRefId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_UpdateClickCountHttpPostOut" />
  <wsdl:message name="BeastApps_SharedAutoURL_StoppedByInitiatorHttpPostIn">
    <wsdl:part name="pUserID" type="s:string" />
    <wsdl:part name="pInstanceID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_StoppedByInitiatorHttpPostOut" />
  <wsdl:message name="SendUserLoginMailHttpPostIn">
    <wsdl:part name="pMailType" type="s:string" />
    <wsdl:part name="pLoginUserEmail" type="s:string" />
    <wsdl:part name="pClient" type="s:string" />
    <wsdl:part name="pIpAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendUserLoginMailHttpPostOut" />
  <wsdl:message name="ResetUserPasswordHttpPostIn">
    <wsdl:part name="strUserLoginId" type="s:string" />
    <wsdl:part name="strIpAddress" type="s:string" />
    <wsdl:part name="strClient" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ResetUserPasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="openf2Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VCM_AutoURL_Validate_User_Info">
      <wsdl:input message="tns:VCM_AutoURL_Validate_User_InfoSoapIn" />
      <wsdl:output message="tns:VCM_AutoURL_Validate_User_InfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUtcSqlServerDate">
      <wsdl:input message="tns:GetUtcSqlServerDateSoapIn" />
      <wsdl:output message="tns:GetUtcSqlServerDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserStatus">
      <wsdl:input message="tns:CheckUserStatusSoapIn" />
      <wsdl:output message="tns:CheckUserStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserLoginActivatationFLag">
      <wsdl:input message="tns:SetUserLoginActivatationFLagSoapIn" />
      <wsdl:output message="tns:SetUserLoginActivatationFLagSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserPasswordFlag">
      <wsdl:input message="tns:SetUserPasswordFlagSoapIn" />
      <wsdl:output message="tns:SetUserPasswordFlagSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmailIDFromUserID">
      <wsdl:input message="tns:GetEmailIDFromUserIDSoapIn" />
      <wsdl:output message="tns:GetEmailIDFromUserIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserCustomerDetails">
      <wsdl:input message="tns:GetUserCustomerDetailsSoapIn" />
      <wsdl:output message="tns:GetUserCustomerDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserSecurityQuestion_And_Answer">
      <wsdl:input message="tns:GetUserSecurityQuestion_And_AnswerSoapIn" />
      <wsdl:output message="tns:GetUserSecurityQuestion_And_AnswerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <wsdl:input message="tns:GetUserIDSoapIn" />
      <wsdl:output message="tns:GetUserIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCMEUserIdFromGuid">
      <wsdl:input message="tns:GetCMEUserIdFromGuidSoapIn" />
      <wsdl:output message="tns:GetCMEUserIdFromGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveCMEUserGuid">
      <wsdl:input message="tns:SaveCMEUserGuidSoapIn" />
      <wsdl:output message="tns:SaveCMEUserGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:input message="tns:ValidateUserSoapIn" />
      <wsdl:output message="tns:ValidateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserstate">
      <wsdl:input message="tns:GetUserstateSoapIn" />
      <wsdl:output message="tns:GetUserstateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAutoURLGeoIPInfo">
      <wsdl:input message="tns:GetAutoURLGeoIPInfoSoapIn" />
      <wsdl:output message="tns:GetAutoURLGeoIPInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_Validate">
      <wsdl:input message="tns:BeastApps_SharedAutoURL_ValidateSoapIn" />
      <wsdl:output message="tns:BeastApps_SharedAutoURL_ValidateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <wsdl:input message="tns:GetUserNameSoapIn" />
      <wsdl:output message="tns:GetUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserSoapIn" />
      <wsdl:output message="tns:AuthenticateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_UpdateClickCount">
      <wsdl:input message="tns:BeastApps_SharedAutoURL_UpdateClickCountSoapIn" />
      <wsdl:output message="tns:BeastApps_SharedAutoURL_UpdateClickCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_StoppedByInitiator">
      <wsdl:input message="tns:BeastApps_SharedAutoURL_StoppedByInitiatorSoapIn" />
      <wsdl:output message="tns:BeastApps_SharedAutoURL_StoppedByInitiatorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendUserLoginMail">
      <wsdl:input message="tns:SendUserLoginMailSoapIn" />
      <wsdl:output message="tns:SendUserLoginMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetUserPassword">
      <wsdl:input message="tns:ResetUserPasswordSoapIn" />
      <wsdl:output message="tns:ResetUserPasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="openf2HttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="VCM_AutoURL_Validate_User_Info">
      <wsdl:input message="tns:VCM_AutoURL_Validate_User_InfoHttpGetIn" />
      <wsdl:output message="tns:VCM_AutoURL_Validate_User_InfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUtcSqlServerDate">
      <wsdl:input message="tns:GetUtcSqlServerDateHttpGetIn" />
      <wsdl:output message="tns:GetUtcSqlServerDateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserStatus">
      <wsdl:input message="tns:CheckUserStatusHttpGetIn" />
      <wsdl:output message="tns:CheckUserStatusHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserLoginActivatationFLag">
      <wsdl:input message="tns:SetUserLoginActivatationFLagHttpGetIn" />
      <wsdl:output message="tns:SetUserLoginActivatationFLagHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserPasswordFlag">
      <wsdl:input message="tns:SetUserPasswordFlagHttpGetIn" />
      <wsdl:output message="tns:SetUserPasswordFlagHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordHttpGetIn" />
      <wsdl:output message="tns:ChangePasswordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmailIDFromUserID">
      <wsdl:input message="tns:GetEmailIDFromUserIDHttpGetIn" />
      <wsdl:output message="tns:GetEmailIDFromUserIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserCustomerDetails">
      <wsdl:input message="tns:GetUserCustomerDetailsHttpGetIn" />
      <wsdl:output message="tns:GetUserCustomerDetailsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserSecurityQuestion_And_Answer">
      <wsdl:input message="tns:GetUserSecurityQuestion_And_AnswerHttpGetIn" />
      <wsdl:output message="tns:GetUserSecurityQuestion_And_AnswerHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <wsdl:input message="tns:GetUserIDHttpGetIn" />
      <wsdl:output message="tns:GetUserIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCMEUserIdFromGuid">
      <wsdl:input message="tns:GetCMEUserIdFromGuidHttpGetIn" />
      <wsdl:output message="tns:GetCMEUserIdFromGuidHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveCMEUserGuid">
      <wsdl:input message="tns:SaveCMEUserGuidHttpGetIn" />
      <wsdl:output message="tns:SaveCMEUserGuidHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:input message="tns:ValidateUserHttpGetIn" />
      <wsdl:output message="tns:ValidateUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserstate">
      <wsdl:input message="tns:GetUserstateHttpGetIn" />
      <wsdl:output message="tns:GetUserstateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAutoURLGeoIPInfo">
      <wsdl:input message="tns:GetAutoURLGeoIPInfoHttpGetIn" />
      <wsdl:output message="tns:GetAutoURLGeoIPInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_Validate">
      <wsdl:input message="tns:BeastApps_SharedAutoURL_ValidateHttpGetIn" />
      <wsdl:output message="tns:BeastApps_SharedAutoURL_ValidateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <wsdl:input message="tns:GetUserNameHttpGetIn" />
      <wsdl:output message="tns:GetUserNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserHttpGetIn" />
      <wsdl:output message="tns:AuthenticateUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_UpdateClickCount">
      <wsdl:input message="tns:BeastApps_SharedAutoURL_UpdateClickCountHttpGetIn" />
      <wsdl:output message="tns:BeastApps_SharedAutoURL_UpdateClickCountHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_StoppedByInitiator">
      <wsdl:input message="tns:BeastApps_SharedAutoURL_StoppedByInitiatorHttpGetIn" />
      <wsdl:output message="tns:BeastApps_SharedAutoURL_StoppedByInitiatorHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendUserLoginMail">
      <wsdl:input message="tns:SendUserLoginMailHttpGetIn" />
      <wsdl:output message="tns:SendUserLoginMailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetUserPassword">
      <wsdl:input message="tns:ResetUserPasswordHttpGetIn" />
      <wsdl:output message="tns:ResetUserPasswordHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="openf2HttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="VCM_AutoURL_Validate_User_Info">
      <wsdl:input message="tns:VCM_AutoURL_Validate_User_InfoHttpPostIn" />
      <wsdl:output message="tns:VCM_AutoURL_Validate_User_InfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUtcSqlServerDate">
      <wsdl:input message="tns:GetUtcSqlServerDateHttpPostIn" />
      <wsdl:output message="tns:GetUtcSqlServerDateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserStatus">
      <wsdl:input message="tns:CheckUserStatusHttpPostIn" />
      <wsdl:output message="tns:CheckUserStatusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserLoginActivatationFLag">
      <wsdl:input message="tns:SetUserLoginActivatationFLagHttpPostIn" />
      <wsdl:output message="tns:SetUserLoginActivatationFLagHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserPasswordFlag">
      <wsdl:input message="tns:SetUserPasswordFlagHttpPostIn" />
      <wsdl:output message="tns:SetUserPasswordFlagHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordHttpPostIn" />
      <wsdl:output message="tns:ChangePasswordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmailIDFromUserID">
      <wsdl:input message="tns:GetEmailIDFromUserIDHttpPostIn" />
      <wsdl:output message="tns:GetEmailIDFromUserIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserCustomerDetails">
      <wsdl:input message="tns:GetUserCustomerDetailsHttpPostIn" />
      <wsdl:output message="tns:GetUserCustomerDetailsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserSecurityQuestion_And_Answer">
      <wsdl:input message="tns:GetUserSecurityQuestion_And_AnswerHttpPostIn" />
      <wsdl:output message="tns:GetUserSecurityQuestion_And_AnswerHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <wsdl:input message="tns:GetUserIDHttpPostIn" />
      <wsdl:output message="tns:GetUserIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCMEUserIdFromGuid">
      <wsdl:input message="tns:GetCMEUserIdFromGuidHttpPostIn" />
      <wsdl:output message="tns:GetCMEUserIdFromGuidHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveCMEUserGuid">
      <wsdl:input message="tns:SaveCMEUserGuidHttpPostIn" />
      <wsdl:output message="tns:SaveCMEUserGuidHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:input message="tns:ValidateUserHttpPostIn" />
      <wsdl:output message="tns:ValidateUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserstate">
      <wsdl:input message="tns:GetUserstateHttpPostIn" />
      <wsdl:output message="tns:GetUserstateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAutoURLGeoIPInfo">
      <wsdl:input message="tns:GetAutoURLGeoIPInfoHttpPostIn" />
      <wsdl:output message="tns:GetAutoURLGeoIPInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_Validate">
      <wsdl:input message="tns:BeastApps_SharedAutoURL_ValidateHttpPostIn" />
      <wsdl:output message="tns:BeastApps_SharedAutoURL_ValidateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <wsdl:input message="tns:GetUserNameHttpPostIn" />
      <wsdl:output message="tns:GetUserNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserHttpPostIn" />
      <wsdl:output message="tns:AuthenticateUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_UpdateClickCount">
      <wsdl:input message="tns:BeastApps_SharedAutoURL_UpdateClickCountHttpPostIn" />
      <wsdl:output message="tns:BeastApps_SharedAutoURL_UpdateClickCountHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_StoppedByInitiator">
      <wsdl:input message="tns:BeastApps_SharedAutoURL_StoppedByInitiatorHttpPostIn" />
      <wsdl:output message="tns:BeastApps_SharedAutoURL_StoppedByInitiatorHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendUserLoginMail">
      <wsdl:input message="tns:SendUserLoginMailHttpPostIn" />
      <wsdl:output message="tns:SendUserLoginMailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetUserPassword">
      <wsdl:input message="tns:ResetUserPasswordHttpPostIn" />
      <wsdl:output message="tns:ResetUserPasswordHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="openf2Soap" type="tns:openf2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VCM_AutoURL_Validate_User_Info">
      <soap:operation soapAction="http://tempuri.org/VCM_AutoURL_Validate_User_Info" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUtcSqlServerDate">
      <soap:operation soapAction="http://tempuri.org/GetUtcSqlServerDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserStatus">
      <soap:operation soapAction="http://tempuri.org/CheckUserStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserLoginActivatationFLag">
      <soap:operation soapAction="http://tempuri.org/SetUserLoginActivatationFLag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserPasswordFlag">
      <soap:operation soapAction="http://tempuri.org/SetUserPasswordFlag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailIDFromUserID">
      <soap:operation soapAction="http://tempuri.org/GetEmailIDFromUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCustomerDetails">
      <soap:operation soapAction="http://tempuri.org/GetUserCustomerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserSecurityQuestion_And_Answer">
      <soap:operation soapAction="http://tempuri.org/GetUserSecurityQuestion_And_Answer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <soap:operation soapAction="http://tempuri.org/GetUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCMEUserIdFromGuid">
      <soap:operation soapAction="http://tempuri.org/GetCMEUserIdFromGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCMEUserGuid">
      <soap:operation soapAction="http://tempuri.org/SaveCMEUserGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserstate">
      <soap:operation soapAction="http://tempuri.org/GetUserstate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAutoURLGeoIPInfo">
      <soap:operation soapAction="http://tempuri.org/GetAutoURLGeoIPInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_Validate">
      <soap:operation soapAction="http://tempuri.org/BeastApps_SharedAutoURL_Validate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap:operation soapAction="http://tempuri.org/GetUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_UpdateClickCount">
      <soap:operation soapAction="http://tempuri.org/BeastApps_SharedAutoURL_UpdateClickCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_StoppedByInitiator">
      <soap:operation soapAction="http://tempuri.org/BeastApps_SharedAutoURL_StoppedByInitiator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendUserLoginMail">
      <soap:operation soapAction="http://tempuri.org/SendUserLoginMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetUserPassword">
      <soap:operation soapAction="http://tempuri.org/ResetUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="openf2Soap12" type="tns:openf2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VCM_AutoURL_Validate_User_Info">
      <soap12:operation soapAction="http://tempuri.org/VCM_AutoURL_Validate_User_Info" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUtcSqlServerDate">
      <soap12:operation soapAction="http://tempuri.org/GetUtcSqlServerDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserStatus">
      <soap12:operation soapAction="http://tempuri.org/CheckUserStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserLoginActivatationFLag">
      <soap12:operation soapAction="http://tempuri.org/SetUserLoginActivatationFLag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserPasswordFlag">
      <soap12:operation soapAction="http://tempuri.org/SetUserPasswordFlag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailIDFromUserID">
      <soap12:operation soapAction="http://tempuri.org/GetEmailIDFromUserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCustomerDetails">
      <soap12:operation soapAction="http://tempuri.org/GetUserCustomerDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserSecurityQuestion_And_Answer">
      <soap12:operation soapAction="http://tempuri.org/GetUserSecurityQuestion_And_Answer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <soap12:operation soapAction="http://tempuri.org/GetUserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCMEUserIdFromGuid">
      <soap12:operation soapAction="http://tempuri.org/GetCMEUserIdFromGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCMEUserGuid">
      <soap12:operation soapAction="http://tempuri.org/SaveCMEUserGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <soap12:operation soapAction="http://tempuri.org/ValidateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserstate">
      <soap12:operation soapAction="http://tempuri.org/GetUserstate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAutoURLGeoIPInfo">
      <soap12:operation soapAction="http://tempuri.org/GetAutoURLGeoIPInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_Validate">
      <soap12:operation soapAction="http://tempuri.org/BeastApps_SharedAutoURL_Validate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap12:operation soapAction="http://tempuri.org/GetUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap12:operation soapAction="http://tempuri.org/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_UpdateClickCount">
      <soap12:operation soapAction="http://tempuri.org/BeastApps_SharedAutoURL_UpdateClickCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_StoppedByInitiator">
      <soap12:operation soapAction="http://tempuri.org/BeastApps_SharedAutoURL_StoppedByInitiator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendUserLoginMail">
      <soap12:operation soapAction="http://tempuri.org/SendUserLoginMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetUserPassword">
      <soap12:operation soapAction="http://tempuri.org/ResetUserPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="openf2HttpGet" type="tns:openf2HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VCM_AutoURL_Validate_User_Info">
      <http:operation location="/VCM_AutoURL_Validate_User_Info" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUtcSqlServerDate">
      <http:operation location="/GetUtcSqlServerDate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserStatus">
      <http:operation location="/CheckUserStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserLoginActivatationFLag">
      <http:operation location="/SetUserLoginActivatationFLag" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserPasswordFlag">
      <http:operation location="/SetUserPasswordFlag" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <http:operation location="/ChangePassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailIDFromUserID">
      <http:operation location="/GetEmailIDFromUserID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCustomerDetails">
      <http:operation location="/GetUserCustomerDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserSecurityQuestion_And_Answer">
      <http:operation location="/GetUserSecurityQuestion_And_Answer" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <http:operation location="/GetUserID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCMEUserIdFromGuid">
      <http:operation location="/GetCMEUserIdFromGuid" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCMEUserGuid">
      <http:operation location="/SaveCMEUserGuid" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <http:operation location="/ValidateUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserstate">
      <http:operation location="/GetUserstate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAutoURLGeoIPInfo">
      <http:operation location="/GetAutoURLGeoIPInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_Validate">
      <http:operation location="/BeastApps_SharedAutoURL_Validate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <http:operation location="/GetUserName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <http:operation location="/AuthenticateUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_UpdateClickCount">
      <http:operation location="/BeastApps_SharedAutoURL_UpdateClickCount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_StoppedByInitiator">
      <http:operation location="/BeastApps_SharedAutoURL_StoppedByInitiator" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SendUserLoginMail">
      <http:operation location="/SendUserLoginMail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ResetUserPassword">
      <http:operation location="/ResetUserPassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="openf2HttpPost" type="tns:openf2HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VCM_AutoURL_Validate_User_Info">
      <http:operation location="/VCM_AutoURL_Validate_User_Info" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUtcSqlServerDate">
      <http:operation location="/GetUtcSqlServerDate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserStatus">
      <http:operation location="/CheckUserStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserLoginActivatationFLag">
      <http:operation location="/SetUserLoginActivatationFLag" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserPasswordFlag">
      <http:operation location="/SetUserPasswordFlag" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <http:operation location="/ChangePassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailIDFromUserID">
      <http:operation location="/GetEmailIDFromUserID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCustomerDetails">
      <http:operation location="/GetUserCustomerDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserSecurityQuestion_And_Answer">
      <http:operation location="/GetUserSecurityQuestion_And_Answer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <http:operation location="/GetUserID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCMEUserIdFromGuid">
      <http:operation location="/GetCMEUserIdFromGuid" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCMEUserGuid">
      <http:operation location="/SaveCMEUserGuid" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <http:operation location="/ValidateUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserstate">
      <http:operation location="/GetUserstate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAutoURLGeoIPInfo">
      <http:operation location="/GetAutoURLGeoIPInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_Validate">
      <http:operation location="/BeastApps_SharedAutoURL_Validate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <http:operation location="/GetUserName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <http:operation location="/AuthenticateUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_UpdateClickCount">
      <http:operation location="/BeastApps_SharedAutoURL_UpdateClickCount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_StoppedByInitiator">
      <http:operation location="/BeastApps_SharedAutoURL_StoppedByInitiator" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SendUserLoginMail">
      <http:operation location="/SendUserLoginMail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ResetUserPassword">
      <http:operation location="/ResetUserPassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="openf2">
    <wsdl:port name="openf2Soap" binding="tns:openf2Soap">
      <soap:address location="http://beasttestnu4/urladmin/openf2.asmx" />
    </wsdl:port>
    <wsdl:port name="openf2Soap12" binding="tns:openf2Soap12">
      <soap12:address location="http://beasttestnu4/urladmin/openf2.asmx" />
    </wsdl:port>
    <wsdl:port name="openf2HttpGet" binding="tns:openf2HttpGet">
      <http:address location="http://beasttestnu4/urladmin/openf2.asmx" />
    </wsdl:port>
    <wsdl:port name="openf2HttpPost" binding="tns:openf2HttpPost">
      <http:address location="http://beasttestnu4/urladmin/openf2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>