Savory/Savory/Web References/OpenBeastService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentMarketDataVol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentMarketDataVolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentMarketDataVolResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentMarketDataPrem">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentMarketDataPremResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentMarketDataPremResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentMarketDataStrike">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentMarketDataStrikeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentMarketDataStrikeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGridNodeIDs">
        <s:complexType />
      </s:element>
      <s:element name="GetGridNodeIDsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGridNodeIDsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitBeastCalcAutoUrlShare">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pUserId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="pInstanceId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pInstanceInfo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pIpAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEmailIdList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitBeastCalcAutoUrlShareResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitBeastCalcAutoUrlShareResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitLastOpenCalc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pUserId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="pInstanceId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pInstanceInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitLastOpenCalcResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetLastOpenCalc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastOpenCalcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLastOpenCalcResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMainMenuCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMainMenuCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMainMenuCategoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubMenuCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CategoryId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubMenuCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubMenuCategoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastOpenAppName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InstanceId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastOpenAppNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLastOpenAppNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Excel_GetMainMenuCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Excel_GetMainMenuCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Excel_GetMainMenuCategoryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Excel_GetSubMenuCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CategoryId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Excel_GetSubMenuCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Excel_GetSubMenuCategoryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDirImgSIDNull">
        <s:complexType />
      </s:element>
      <s:element name="SetDirImgSIDNullResponse">
        <s:complexType />
      </s:element>
      <s:element name="ValidateAuthToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateAuthTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateAuthTokenResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddConnectionToDirForExcel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ImageName" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddConnectionToDirForExcelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddConnectionToDirForExcelResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUserListWithToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUserListWithTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUserListWithTokenResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisableToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisableTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DisableTokenResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisableConnection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ConnectionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisableConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DisableConnectionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SharedAutoURL_Validate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SharedAutoURL_ValidateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SharedAutoURL_ValidateResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeastApps_SharedAutoURL_UpdateClickCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pRefId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeastApps_SharedAutoURL_UpdateClickCountResponse">
        <s:complexType />
      </s:element>
      <s:element name="ValidateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateUserResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutoURL_Validate_User_Info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="refNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserHostAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ApplicationCode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutoURL_Validate_User_InfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutoURL_Validate_User_InfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lUserId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Excel_GetXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalcID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastUpdatedDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Excel_GetXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Excel_GetXmlResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestVersionID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ObjectID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestVersionIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatestVersionIDResult" type="tns:ExeChunk" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ExeChunk">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="productVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NoOfChunks" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="chunkName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="chunkData" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLatestVersionSetup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ObjectID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestVersionSetupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatestVersionSetupResult" type="tns:ArrayOfExeChunk" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfExeChunk">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ExeChunk" nillable="true" type="tns:ExeChunk" />
        </s:sequence>
      </s:complexType>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExeChunk" nillable="true" type="tns:ExeChunk" />
      <s:element name="ArrayOfExeChunk" nillable="true" type="tns:ArrayOfExeChunk" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentMarketDataVolSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentMarketDataVol" />
  </wsdl:message>
  <wsdl:message name="GetCurrentMarketDataVolSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentMarketDataVolResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentMarketDataPremSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentMarketDataPrem" />
  </wsdl:message>
  <wsdl:message name="GetCurrentMarketDataPremSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentMarketDataPremResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentMarketDataStrikeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentMarketDataStrike" />
  </wsdl:message>
  <wsdl:message name="GetCurrentMarketDataStrikeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentMarketDataStrikeResponse" />
  </wsdl:message>
  <wsdl:message name="GetGridNodeIDsSoapIn">
    <wsdl:part name="parameters" element="tns:GetGridNodeIDs" />
  </wsdl:message>
  <wsdl:message name="GetGridNodeIDsSoapOut">
    <wsdl:part name="parameters" element="tns:GetGridNodeIDsResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitBeastCalcAutoUrlShareSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitBeastCalcAutoUrlShare" />
  </wsdl:message>
  <wsdl:message name="SubmitBeastCalcAutoUrlShareSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitBeastCalcAutoUrlShareResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitLastOpenCalcSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitLastOpenCalc" />
  </wsdl:message>
  <wsdl:message name="SubmitLastOpenCalcSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitLastOpenCalcResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastOpenCalcSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastOpenCalc" />
  </wsdl:message>
  <wsdl:message name="GetLastOpenCalcSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastOpenCalcResponse" />
  </wsdl:message>
  <wsdl:message name="GetMainMenuCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetMainMenuCategory" />
  </wsdl:message>
  <wsdl:message name="GetMainMenuCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetMainMenuCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubMenuCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetSubMenuCategory" />
  </wsdl:message>
  <wsdl:message name="GetSubMenuCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetSubMenuCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastOpenAppNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastOpenAppName" />
  </wsdl:message>
  <wsdl:message name="GetLastOpenAppNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastOpenAppNameResponse" />
  </wsdl:message>
  <wsdl:message name="Excel_GetMainMenuCategorySoapIn">
    <wsdl:part name="parameters" element="tns:Excel_GetMainMenuCategory" />
  </wsdl:message>
  <wsdl:message name="Excel_GetMainMenuCategorySoapOut">
    <wsdl:part name="parameters" element="tns:Excel_GetMainMenuCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="Excel_GetSubMenuCategorySoapIn">
    <wsdl:part name="parameters" element="tns:Excel_GetSubMenuCategory" />
  </wsdl:message>
  <wsdl:message name="Excel_GetSubMenuCategorySoapOut">
    <wsdl:part name="parameters" element="tns:Excel_GetSubMenuCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="SetDirImgSIDNullSoapIn">
    <wsdl:part name="parameters" element="tns:SetDirImgSIDNull" />
  </wsdl:message>
  <wsdl:message name="SetDirImgSIDNullSoapOut">
    <wsdl:part name="parameters" element="tns:SetDirImgSIDNullResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateAuthTokenSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateAuthToken" />
  </wsdl:message>
  <wsdl:message name="ValidateAuthTokenSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateAuthTokenResponse" />
  </wsdl:message>
  <wsdl:message name="AddConnectionToDirForExcelSoapIn">
    <wsdl:part name="parameters" element="tns:AddConnectionToDirForExcel" />
  </wsdl:message>
  <wsdl:message name="AddConnectionToDirForExcelSoapOut">
    <wsdl:part name="parameters" element="tns:AddConnectionToDirForExcelResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUserListWithTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUserListWithToken" />
  </wsdl:message>
  <wsdl:message name="GetAllUserListWithTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUserListWithTokenResponse" />
  </wsdl:message>
  <wsdl:message name="DisableTokenSoapIn">
    <wsdl:part name="parameters" element="tns:DisableToken" />
  </wsdl:message>
  <wsdl:message name="DisableTokenSoapOut">
    <wsdl:part name="parameters" element="tns:DisableTokenResponse" />
  </wsdl:message>
  <wsdl:message name="DisableConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:DisableConnection" />
  </wsdl:message>
  <wsdl:message name="DisableConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:DisableConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="SharedAutoURL_ValidateSoapIn">
    <wsdl:part name="parameters" element="tns:SharedAutoURL_Validate" />
  </wsdl:message>
  <wsdl:message name="SharedAutoURL_ValidateSoapOut">
    <wsdl:part name="parameters" element="tns:SharedAutoURL_ValidateResponse" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_UpdateClickCountSoapIn">
    <wsdl:part name="parameters" element="tns:BeastApps_SharedAutoURL_UpdateClickCount" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_UpdateClickCountSoapOut">
    <wsdl:part name="parameters" element="tns:BeastApps_SharedAutoURL_UpdateClickCountResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateUserSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="ValidateUserSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="AutoURL_Validate_User_InfoSoapIn">
    <wsdl:part name="parameters" element="tns:AutoURL_Validate_User_Info" />
  </wsdl:message>
  <wsdl:message name="AutoURL_Validate_User_InfoSoapOut">
    <wsdl:part name="parameters" element="tns:AutoURL_Validate_User_InfoResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="Excel_GetXmlSoapIn">
    <wsdl:part name="parameters" element="tns:Excel_GetXml" />
  </wsdl:message>
  <wsdl:message name="Excel_GetXmlSoapOut">
    <wsdl:part name="parameters" element="tns:Excel_GetXmlResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestVersionIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestVersionID" />
  </wsdl:message>
  <wsdl:message name="GetLatestVersionIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestVersionIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestVersionSetupSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestVersionSetup" />
  </wsdl:message>
  <wsdl:message name="GetLatestVersionSetupSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestVersionSetupResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrentMarketDataVolHttpGetIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="ProductID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrentMarketDataVolHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrentMarketDataPremHttpGetIn" />
  <wsdl:message name="GetCurrentMarketDataPremHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrentMarketDataStrikeHttpGetIn" />
  <wsdl:message name="GetCurrentMarketDataStrikeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetGridNodeIDsHttpGetIn" />
  <wsdl:message name="GetGridNodeIDsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SubmitBeastCalcAutoUrlShareHttpGetIn">
    <wsdl:part name="pUserId" type="s:string" />
    <wsdl:part name="pInstanceId" type="s:string" />
    <wsdl:part name="pInstanceInfo" type="s:string" />
    <wsdl:part name="pIpAddress" type="s:string" />
    <wsdl:part name="pEmailIdList" type="s:string" />
    <wsdl:part name="SenderEmail" type="s:string" />
    <wsdl:part name="SenderMessage" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubmitBeastCalcAutoUrlShareHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SubmitLastOpenCalcHttpGetIn">
    <wsdl:part name="pUserId" type="s:string" />
    <wsdl:part name="pInstanceId" type="s:string" />
    <wsdl:part name="pInstanceInfo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubmitLastOpenCalcHttpGetOut" />
  <wsdl:message name="GetLastOpenCalcHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLastOpenCalcHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMainMenuCategoryHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMainMenuCategoryHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSubMenuCategoryHttpGetIn">
    <wsdl:part name="CategoryId" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSubMenuCategoryHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetLastOpenAppNameHttpGetIn">
    <wsdl:part name="InstanceId" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLastOpenAppNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Excel_GetMainMenuCategoryHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Excel_GetMainMenuCategoryHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Excel_GetSubMenuCategoryHttpGetIn">
    <wsdl:part name="CategoryId" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Excel_GetSubMenuCategoryHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SetDirImgSIDNullHttpGetIn" />
  <wsdl:message name="SetDirImgSIDNullHttpGetOut" />
  <wsdl:message name="ValidateAuthTokenHttpGetIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateAuthTokenHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="AddConnectionToDirForExcelHttpGetIn">
    <wsdl:part name="strUserName" type="s:string" />
    <wsdl:part name="strPass" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="ImageName" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="AddConnectionToDirForExcelHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetAllUserListWithTokenHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllUserListWithTokenHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="DisableTokenHttpGetIn">
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DisableTokenHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="DisableConnectionHttpGetIn">
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="ConnectionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DisableConnectionHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="SharedAutoURL_ValidateHttpGetIn">
    <wsdl:part name="RefID" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SharedAutoURL_ValidateHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_UpdateClickCountHttpGetIn">
    <wsdl:part name="pRefId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_UpdateClickCountHttpGetOut" />
  <wsdl:message name="ValidateUserHttpGetIn">
    <wsdl:part name="strUserName" type="s:string" />
    <wsdl:part name="strPass" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateUserHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="AutoURL_Validate_User_InfoHttpGetIn">
    <wsdl:part name="refNo" type="s:string" />
    <wsdl:part name="UserHostAddress" type="s:string" />
    <wsdl:part name="ApplicationCode" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AutoURL_Validate_User_InfoHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpGetIn">
    <wsdl:part name="lUserId" type="s:string" />
    <wsdl:part name="oldPassword" type="s:string" />
    <wsdl:part name="newPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="Excel_GetXmlHttpGetIn">
    <wsdl:part name="CalcID" type="s:string" />
    <wsdl:part name="LastUpdatedDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Excel_GetXmlHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetLatestVersionIDHttpGetIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="ObjectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestVersionIDHttpGetOut">
    <wsdl:part name="Body" element="tns:ExeChunk" />
  </wsdl:message>
  <wsdl:message name="GetLatestVersionSetupHttpGetIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="ObjectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestVersionSetupHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfExeChunk" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrentMarketDataVolHttpPostIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="ProductID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrentMarketDataVolHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrentMarketDataPremHttpPostIn" />
  <wsdl:message name="GetCurrentMarketDataPremHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrentMarketDataStrikeHttpPostIn" />
  <wsdl:message name="GetCurrentMarketDataStrikeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetGridNodeIDsHttpPostIn" />
  <wsdl:message name="GetGridNodeIDsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SubmitBeastCalcAutoUrlShareHttpPostIn">
    <wsdl:part name="pUserId" type="s:string" />
    <wsdl:part name="pInstanceId" type="s:string" />
    <wsdl:part name="pInstanceInfo" type="s:string" />
    <wsdl:part name="pIpAddress" type="s:string" />
    <wsdl:part name="pEmailIdList" type="s:string" />
    <wsdl:part name="SenderEmail" type="s:string" />
    <wsdl:part name="SenderMessage" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubmitBeastCalcAutoUrlShareHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SubmitLastOpenCalcHttpPostIn">
    <wsdl:part name="pUserId" type="s:string" />
    <wsdl:part name="pInstanceId" type="s:string" />
    <wsdl:part name="pInstanceInfo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubmitLastOpenCalcHttpPostOut" />
  <wsdl:message name="GetLastOpenCalcHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLastOpenCalcHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMainMenuCategoryHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMainMenuCategoryHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSubMenuCategoryHttpPostIn">
    <wsdl:part name="CategoryId" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSubMenuCategoryHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetLastOpenAppNameHttpPostIn">
    <wsdl:part name="InstanceId" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLastOpenAppNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Excel_GetMainMenuCategoryHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Excel_GetMainMenuCategoryHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="Excel_GetSubMenuCategoryHttpPostIn">
    <wsdl:part name="CategoryId" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Excel_GetSubMenuCategoryHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SetDirImgSIDNullHttpPostIn" />
  <wsdl:message name="SetDirImgSIDNullHttpPostOut" />
  <wsdl:message name="ValidateAuthTokenHttpPostIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateAuthTokenHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="AddConnectionToDirForExcelHttpPostIn">
    <wsdl:part name="strUserName" type="s:string" />
    <wsdl:part name="strPass" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="ImageName" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="AddConnectionToDirForExcelHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetAllUserListWithTokenHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllUserListWithTokenHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="DisableTokenHttpPostIn">
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DisableTokenHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="DisableConnectionHttpPostIn">
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="userid" type="s:string" />
    <wsdl:part name="ConnectionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DisableConnectionHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="SharedAutoURL_ValidateHttpPostIn">
    <wsdl:part name="RefID" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SharedAutoURL_ValidateHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_UpdateClickCountHttpPostIn">
    <wsdl:part name="pRefId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BeastApps_SharedAutoURL_UpdateClickCountHttpPostOut" />
  <wsdl:message name="ValidateUserHttpPostIn">
    <wsdl:part name="strUserName" type="s:string" />
    <wsdl:part name="strPass" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateUserHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="AutoURL_Validate_User_InfoHttpPostIn">
    <wsdl:part name="refNo" type="s:string" />
    <wsdl:part name="UserHostAddress" type="s:string" />
    <wsdl:part name="ApplicationCode" type="s:string" />
    <wsdl:part name="ClientType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AutoURL_Validate_User_InfoHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpPostIn">
    <wsdl:part name="lUserId" type="s:string" />
    <wsdl:part name="oldPassword" type="s:string" />
    <wsdl:part name="newPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="Excel_GetXmlHttpPostIn">
    <wsdl:part name="CalcID" type="s:string" />
    <wsdl:part name="LastUpdatedDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Excel_GetXmlHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetLatestVersionIDHttpPostIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="ObjectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestVersionIDHttpPostOut">
    <wsdl:part name="Body" element="tns:ExeChunk" />
  </wsdl:message>
  <wsdl:message name="GetLatestVersionSetupHttpPostIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="ObjectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestVersionSetupHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfExeChunk" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketDataVol">
      <wsdl:input message="tns:GetCurrentMarketDataVolSoapIn" />
      <wsdl:output message="tns:GetCurrentMarketDataVolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketDataPrem">
      <wsdl:input message="tns:GetCurrentMarketDataPremSoapIn" />
      <wsdl:output message="tns:GetCurrentMarketDataPremSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketDataStrike">
      <wsdl:input message="tns:GetCurrentMarketDataStrikeSoapIn" />
      <wsdl:output message="tns:GetCurrentMarketDataStrikeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGridNodeIDs">
      <wsdl:input message="tns:GetGridNodeIDsSoapIn" />
      <wsdl:output message="tns:GetGridNodeIDsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitBeastCalcAutoUrlShare">
      <wsdl:input message="tns:SubmitBeastCalcAutoUrlShareSoapIn" />
      <wsdl:output message="tns:SubmitBeastCalcAutoUrlShareSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitLastOpenCalc">
      <wsdl:input message="tns:SubmitLastOpenCalcSoapIn" />
      <wsdl:output message="tns:SubmitLastOpenCalcSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastOpenCalc">
      <wsdl:input message="tns:GetLastOpenCalcSoapIn" />
      <wsdl:output message="tns:GetLastOpenCalcSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMainMenuCategory">
      <wsdl:input message="tns:GetMainMenuCategorySoapIn" />
      <wsdl:output message="tns:GetMainMenuCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubMenuCategory">
      <wsdl:input message="tns:GetSubMenuCategorySoapIn" />
      <wsdl:output message="tns:GetSubMenuCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastOpenAppName">
      <wsdl:input message="tns:GetLastOpenAppNameSoapIn" />
      <wsdl:output message="tns:GetLastOpenAppNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Excel_GetMainMenuCategory">
      <wsdl:input message="tns:Excel_GetMainMenuCategorySoapIn" />
      <wsdl:output message="tns:Excel_GetMainMenuCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Excel_GetSubMenuCategory">
      <wsdl:input message="tns:Excel_GetSubMenuCategorySoapIn" />
      <wsdl:output message="tns:Excel_GetSubMenuCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDirImgSIDNull">
      <wsdl:input message="tns:SetDirImgSIDNullSoapIn" />
      <wsdl:output message="tns:SetDirImgSIDNullSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateAuthToken">
      <wsdl:input message="tns:ValidateAuthTokenSoapIn" />
      <wsdl:output message="tns:ValidateAuthTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddConnectionToDirForExcel">
      <wsdl:input message="tns:AddConnectionToDirForExcelSoapIn" />
      <wsdl:output message="tns:AddConnectionToDirForExcelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserListWithToken">
      <wsdl:input message="tns:GetAllUserListWithTokenSoapIn" />
      <wsdl:output message="tns:GetAllUserListWithTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DisableToken">
      <wsdl:input message="tns:DisableTokenSoapIn" />
      <wsdl:output message="tns:DisableTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DisableConnection">
      <wsdl:input message="tns:DisableConnectionSoapIn" />
      <wsdl:output message="tns:DisableConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SharedAutoURL_Validate">
      <wsdl:input message="tns:SharedAutoURL_ValidateSoapIn" />
      <wsdl:output message="tns:SharedAutoURL_ValidateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_UpdateClickCount">
      <wsdl:input message="tns:BeastApps_SharedAutoURL_UpdateClickCountSoapIn" />
      <wsdl:output message="tns:BeastApps_SharedAutoURL_UpdateClickCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:input message="tns:ValidateUserSoapIn" />
      <wsdl:output message="tns:ValidateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoURL_Validate_User_Info">
      <wsdl:input message="tns:AutoURL_Validate_User_InfoSoapIn" />
      <wsdl:output message="tns:AutoURL_Validate_User_InfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Excel_GetXml">
      <wsdl:input message="tns:Excel_GetXmlSoapIn" />
      <wsdl:output message="tns:Excel_GetXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersionID">
      <wsdl:input message="tns:GetLatestVersionIDSoapIn" />
      <wsdl:output message="tns:GetLatestVersionIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersionSetup">
      <wsdl:input message="tns:GetLatestVersionSetupSoapIn" />
      <wsdl:output message="tns:GetLatestVersionSetupSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketDataVol">
      <wsdl:input message="tns:GetCurrentMarketDataVolHttpGetIn" />
      <wsdl:output message="tns:GetCurrentMarketDataVolHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketDataPrem">
      <wsdl:input message="tns:GetCurrentMarketDataPremHttpGetIn" />
      <wsdl:output message="tns:GetCurrentMarketDataPremHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketDataStrike">
      <wsdl:input message="tns:GetCurrentMarketDataStrikeHttpGetIn" />
      <wsdl:output message="tns:GetCurrentMarketDataStrikeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGridNodeIDs">
      <wsdl:input message="tns:GetGridNodeIDsHttpGetIn" />
      <wsdl:output message="tns:GetGridNodeIDsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitBeastCalcAutoUrlShare">
      <wsdl:input message="tns:SubmitBeastCalcAutoUrlShareHttpGetIn" />
      <wsdl:output message="tns:SubmitBeastCalcAutoUrlShareHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitLastOpenCalc">
      <wsdl:input message="tns:SubmitLastOpenCalcHttpGetIn" />
      <wsdl:output message="tns:SubmitLastOpenCalcHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastOpenCalc">
      <wsdl:input message="tns:GetLastOpenCalcHttpGetIn" />
      <wsdl:output message="tns:GetLastOpenCalcHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMainMenuCategory">
      <wsdl:input message="tns:GetMainMenuCategoryHttpGetIn" />
      <wsdl:output message="tns:GetMainMenuCategoryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubMenuCategory">
      <wsdl:input message="tns:GetSubMenuCategoryHttpGetIn" />
      <wsdl:output message="tns:GetSubMenuCategoryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastOpenAppName">
      <wsdl:input message="tns:GetLastOpenAppNameHttpGetIn" />
      <wsdl:output message="tns:GetLastOpenAppNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Excel_GetMainMenuCategory">
      <wsdl:input message="tns:Excel_GetMainMenuCategoryHttpGetIn" />
      <wsdl:output message="tns:Excel_GetMainMenuCategoryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Excel_GetSubMenuCategory">
      <wsdl:input message="tns:Excel_GetSubMenuCategoryHttpGetIn" />
      <wsdl:output message="tns:Excel_GetSubMenuCategoryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDirImgSIDNull">
      <wsdl:input message="tns:SetDirImgSIDNullHttpGetIn" />
      <wsdl:output message="tns:SetDirImgSIDNullHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateAuthToken">
      <wsdl:input message="tns:ValidateAuthTokenHttpGetIn" />
      <wsdl:output message="tns:ValidateAuthTokenHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddConnectionToDirForExcel">
      <wsdl:input message="tns:AddConnectionToDirForExcelHttpGetIn" />
      <wsdl:output message="tns:AddConnectionToDirForExcelHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserListWithToken">
      <wsdl:input message="tns:GetAllUserListWithTokenHttpGetIn" />
      <wsdl:output message="tns:GetAllUserListWithTokenHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DisableToken">
      <wsdl:input message="tns:DisableTokenHttpGetIn" />
      <wsdl:output message="tns:DisableTokenHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DisableConnection">
      <wsdl:input message="tns:DisableConnectionHttpGetIn" />
      <wsdl:output message="tns:DisableConnectionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SharedAutoURL_Validate">
      <wsdl:input message="tns:SharedAutoURL_ValidateHttpGetIn" />
      <wsdl:output message="tns:SharedAutoURL_ValidateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_UpdateClickCount">
      <wsdl:input message="tns:BeastApps_SharedAutoURL_UpdateClickCountHttpGetIn" />
      <wsdl:output message="tns:BeastApps_SharedAutoURL_UpdateClickCountHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:input message="tns:ValidateUserHttpGetIn" />
      <wsdl:output message="tns:ValidateUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoURL_Validate_User_Info">
      <wsdl:input message="tns:AutoURL_Validate_User_InfoHttpGetIn" />
      <wsdl:output message="tns:AutoURL_Validate_User_InfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordHttpGetIn" />
      <wsdl:output message="tns:ChangePasswordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Excel_GetXml">
      <wsdl:input message="tns:Excel_GetXmlHttpGetIn" />
      <wsdl:output message="tns:Excel_GetXmlHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersionID">
      <wsdl:input message="tns:GetLatestVersionIDHttpGetIn" />
      <wsdl:output message="tns:GetLatestVersionIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersionSetup">
      <wsdl:input message="tns:GetLatestVersionSetupHttpGetIn" />
      <wsdl:output message="tns:GetLatestVersionSetupHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketDataVol">
      <wsdl:input message="tns:GetCurrentMarketDataVolHttpPostIn" />
      <wsdl:output message="tns:GetCurrentMarketDataVolHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketDataPrem">
      <wsdl:input message="tns:GetCurrentMarketDataPremHttpPostIn" />
      <wsdl:output message="tns:GetCurrentMarketDataPremHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketDataStrike">
      <wsdl:input message="tns:GetCurrentMarketDataStrikeHttpPostIn" />
      <wsdl:output message="tns:GetCurrentMarketDataStrikeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGridNodeIDs">
      <wsdl:input message="tns:GetGridNodeIDsHttpPostIn" />
      <wsdl:output message="tns:GetGridNodeIDsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitBeastCalcAutoUrlShare">
      <wsdl:input message="tns:SubmitBeastCalcAutoUrlShareHttpPostIn" />
      <wsdl:output message="tns:SubmitBeastCalcAutoUrlShareHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitLastOpenCalc">
      <wsdl:input message="tns:SubmitLastOpenCalcHttpPostIn" />
      <wsdl:output message="tns:SubmitLastOpenCalcHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastOpenCalc">
      <wsdl:input message="tns:GetLastOpenCalcHttpPostIn" />
      <wsdl:output message="tns:GetLastOpenCalcHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMainMenuCategory">
      <wsdl:input message="tns:GetMainMenuCategoryHttpPostIn" />
      <wsdl:output message="tns:GetMainMenuCategoryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubMenuCategory">
      <wsdl:input message="tns:GetSubMenuCategoryHttpPostIn" />
      <wsdl:output message="tns:GetSubMenuCategoryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastOpenAppName">
      <wsdl:input message="tns:GetLastOpenAppNameHttpPostIn" />
      <wsdl:output message="tns:GetLastOpenAppNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Excel_GetMainMenuCategory">
      <wsdl:input message="tns:Excel_GetMainMenuCategoryHttpPostIn" />
      <wsdl:output message="tns:Excel_GetMainMenuCategoryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Excel_GetSubMenuCategory">
      <wsdl:input message="tns:Excel_GetSubMenuCategoryHttpPostIn" />
      <wsdl:output message="tns:Excel_GetSubMenuCategoryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDirImgSIDNull">
      <wsdl:input message="tns:SetDirImgSIDNullHttpPostIn" />
      <wsdl:output message="tns:SetDirImgSIDNullHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateAuthToken">
      <wsdl:input message="tns:ValidateAuthTokenHttpPostIn" />
      <wsdl:output message="tns:ValidateAuthTokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddConnectionToDirForExcel">
      <wsdl:input message="tns:AddConnectionToDirForExcelHttpPostIn" />
      <wsdl:output message="tns:AddConnectionToDirForExcelHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserListWithToken">
      <wsdl:input message="tns:GetAllUserListWithTokenHttpPostIn" />
      <wsdl:output message="tns:GetAllUserListWithTokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DisableToken">
      <wsdl:input message="tns:DisableTokenHttpPostIn" />
      <wsdl:output message="tns:DisableTokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DisableConnection">
      <wsdl:input message="tns:DisableConnectionHttpPostIn" />
      <wsdl:output message="tns:DisableConnectionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SharedAutoURL_Validate">
      <wsdl:input message="tns:SharedAutoURL_ValidateHttpPostIn" />
      <wsdl:output message="tns:SharedAutoURL_ValidateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_UpdateClickCount">
      <wsdl:input message="tns:BeastApps_SharedAutoURL_UpdateClickCountHttpPostIn" />
      <wsdl:output message="tns:BeastApps_SharedAutoURL_UpdateClickCountHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:input message="tns:ValidateUserHttpPostIn" />
      <wsdl:output message="tns:ValidateUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoURL_Validate_User_Info">
      <wsdl:input message="tns:AutoURL_Validate_User_InfoHttpPostIn" />
      <wsdl:output message="tns:AutoURL_Validate_User_InfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordHttpPostIn" />
      <wsdl:output message="tns:ChangePasswordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Excel_GetXml">
      <wsdl:input message="tns:Excel_GetXmlHttpPostIn" />
      <wsdl:output message="tns:Excel_GetXmlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersionID">
      <wsdl:input message="tns:GetLatestVersionIDHttpPostIn" />
      <wsdl:output message="tns:GetLatestVersionIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersionSetup">
      <wsdl:input message="tns:GetLatestVersionSetupHttpPostIn" />
      <wsdl:output message="tns:GetLatestVersionSetupHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketDataVol">
      <soap:operation soapAction="http://tempuri.org/GetCurrentMarketDataVol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketDataPrem">
      <soap:operation soapAction="http://tempuri.org/GetCurrentMarketDataPrem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketDataStrike">
      <soap:operation soapAction="http://tempuri.org/GetCurrentMarketDataStrike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGridNodeIDs">
      <soap:operation soapAction="http://tempuri.org/GetGridNodeIDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitBeastCalcAutoUrlShare">
      <soap:operation soapAction="http://tempuri.org/SubmitBeastCalcAutoUrlShare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitLastOpenCalc">
      <soap:operation soapAction="http://tempuri.org/SubmitLastOpenCalc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastOpenCalc">
      <soap:operation soapAction="http://tempuri.org/GetLastOpenCalc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMainMenuCategory">
      <soap:operation soapAction="http://tempuri.org/GetMainMenuCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubMenuCategory">
      <soap:operation soapAction="http://tempuri.org/GetSubMenuCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastOpenAppName">
      <soap:operation soapAction="http://tempuri.org/GetLastOpenAppName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excel_GetMainMenuCategory">
      <soap:operation soapAction="http://tempuri.org/Excel_GetMainMenuCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excel_GetSubMenuCategory">
      <soap:operation soapAction="http://tempuri.org/Excel_GetSubMenuCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDirImgSIDNull">
      <soap:operation soapAction="http://tempuri.org/SetDirImgSIDNull" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateAuthToken">
      <soap:operation soapAction="http://tempuri.org/ValidateAuthToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddConnectionToDirForExcel">
      <soap:operation soapAction="http://tempuri.org/AddConnectionToDirForExcel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserListWithToken">
      <soap:operation soapAction="http://tempuri.org/GetAllUserListWithToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableToken">
      <soap:operation soapAction="http://tempuri.org/DisableToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableConnection">
      <soap:operation soapAction="http://tempuri.org/DisableConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SharedAutoURL_Validate">
      <soap:operation soapAction="http://tempuri.org/SharedAutoURL_Validate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_UpdateClickCount">
      <soap:operation soapAction="http://tempuri.org/BeastApps_SharedAutoURL_UpdateClickCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoURL_Validate_User_Info">
      <soap:operation soapAction="http://tempuri.org/AutoURL_Validate_User_Info" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excel_GetXml">
      <soap:operation soapAction="http://tempuri.org/Excel_GetXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersionID">
      <soap:operation soapAction="http://tempuri.org/GetLatestVersionID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersionSetup">
      <soap:operation soapAction="http://tempuri.org/GetLatestVersionSetup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketDataVol">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentMarketDataVol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketDataPrem">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentMarketDataPrem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketDataStrike">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentMarketDataStrike" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGridNodeIDs">
      <soap12:operation soapAction="http://tempuri.org/GetGridNodeIDs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitBeastCalcAutoUrlShare">
      <soap12:operation soapAction="http://tempuri.org/SubmitBeastCalcAutoUrlShare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitLastOpenCalc">
      <soap12:operation soapAction="http://tempuri.org/SubmitLastOpenCalc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastOpenCalc">
      <soap12:operation soapAction="http://tempuri.org/GetLastOpenCalc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMainMenuCategory">
      <soap12:operation soapAction="http://tempuri.org/GetMainMenuCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubMenuCategory">
      <soap12:operation soapAction="http://tempuri.org/GetSubMenuCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastOpenAppName">
      <soap12:operation soapAction="http://tempuri.org/GetLastOpenAppName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excel_GetMainMenuCategory">
      <soap12:operation soapAction="http://tempuri.org/Excel_GetMainMenuCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excel_GetSubMenuCategory">
      <soap12:operation soapAction="http://tempuri.org/Excel_GetSubMenuCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDirImgSIDNull">
      <soap12:operation soapAction="http://tempuri.org/SetDirImgSIDNull" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateAuthToken">
      <soap12:operation soapAction="http://tempuri.org/ValidateAuthToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddConnectionToDirForExcel">
      <soap12:operation soapAction="http://tempuri.org/AddConnectionToDirForExcel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserListWithToken">
      <soap12:operation soapAction="http://tempuri.org/GetAllUserListWithToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableToken">
      <soap12:operation soapAction="http://tempuri.org/DisableToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableConnection">
      <soap12:operation soapAction="http://tempuri.org/DisableConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SharedAutoURL_Validate">
      <soap12:operation soapAction="http://tempuri.org/SharedAutoURL_Validate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_UpdateClickCount">
      <soap12:operation soapAction="http://tempuri.org/BeastApps_SharedAutoURL_UpdateClickCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <soap12:operation soapAction="http://tempuri.org/ValidateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoURL_Validate_User_Info">
      <soap12:operation soapAction="http://tempuri.org/AutoURL_Validate_User_Info" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excel_GetXml">
      <soap12:operation soapAction="http://tempuri.org/Excel_GetXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersionID">
      <soap12:operation soapAction="http://tempuri.org/GetLatestVersionID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersionSetup">
      <soap12:operation soapAction="http://tempuri.org/GetLatestVersionSetup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketDataVol">
      <http:operation location="/GetCurrentMarketDataVol" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketDataPrem">
      <http:operation location="/GetCurrentMarketDataPrem" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketDataStrike">
      <http:operation location="/GetCurrentMarketDataStrike" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGridNodeIDs">
      <http:operation location="/GetGridNodeIDs" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitBeastCalcAutoUrlShare">
      <http:operation location="/SubmitBeastCalcAutoUrlShare" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitLastOpenCalc">
      <http:operation location="/SubmitLastOpenCalc" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetLastOpenCalc">
      <http:operation location="/GetLastOpenCalc" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMainMenuCategory">
      <http:operation location="/GetMainMenuCategory" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubMenuCategory">
      <http:operation location="/GetSubMenuCategory" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastOpenAppName">
      <http:operation location="/GetLastOpenAppName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excel_GetMainMenuCategory">
      <http:operation location="/Excel_GetMainMenuCategory" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excel_GetSubMenuCategory">
      <http:operation location="/Excel_GetSubMenuCategory" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDirImgSIDNull">
      <http:operation location="/SetDirImgSIDNull" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ValidateAuthToken">
      <http:operation location="/ValidateAuthToken" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddConnectionToDirForExcel">
      <http:operation location="/AddConnectionToDirForExcel" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserListWithToken">
      <http:operation location="/GetAllUserListWithToken" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableToken">
      <http:operation location="/DisableToken" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableConnection">
      <http:operation location="/DisableConnection" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SharedAutoURL_Validate">
      <http:operation location="/SharedAutoURL_Validate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_UpdateClickCount">
      <http:operation location="/BeastApps_SharedAutoURL_UpdateClickCount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <http:operation location="/ValidateUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoURL_Validate_User_Info">
      <http:operation location="/AutoURL_Validate_User_Info" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <http:operation location="/ChangePassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excel_GetXml">
      <http:operation location="/Excel_GetXml" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersionID">
      <http:operation location="/GetLatestVersionID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersionSetup">
      <http:operation location="/GetLatestVersionSetup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketDataVol">
      <http:operation location="/GetCurrentMarketDataVol" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketDataPrem">
      <http:operation location="/GetCurrentMarketDataPrem" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketDataStrike">
      <http:operation location="/GetCurrentMarketDataStrike" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGridNodeIDs">
      <http:operation location="/GetGridNodeIDs" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitBeastCalcAutoUrlShare">
      <http:operation location="/SubmitBeastCalcAutoUrlShare" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitLastOpenCalc">
      <http:operation location="/SubmitLastOpenCalc" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetLastOpenCalc">
      <http:operation location="/GetLastOpenCalc" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMainMenuCategory">
      <http:operation location="/GetMainMenuCategory" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubMenuCategory">
      <http:operation location="/GetSubMenuCategory" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastOpenAppName">
      <http:operation location="/GetLastOpenAppName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excel_GetMainMenuCategory">
      <http:operation location="/Excel_GetMainMenuCategory" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excel_GetSubMenuCategory">
      <http:operation location="/Excel_GetSubMenuCategory" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDirImgSIDNull">
      <http:operation location="/SetDirImgSIDNull" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ValidateAuthToken">
      <http:operation location="/ValidateAuthToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddConnectionToDirForExcel">
      <http:operation location="/AddConnectionToDirForExcel" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserListWithToken">
      <http:operation location="/GetAllUserListWithToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableToken">
      <http:operation location="/DisableToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableConnection">
      <http:operation location="/DisableConnection" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SharedAutoURL_Validate">
      <http:operation location="/SharedAutoURL_Validate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeastApps_SharedAutoURL_UpdateClickCount">
      <http:operation location="/BeastApps_SharedAutoURL_UpdateClickCount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <http:operation location="/ValidateUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoURL_Validate_User_Info">
      <http:operation location="/AutoURL_Validate_User_Info" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <http:operation location="/ChangePassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excel_GetXml">
      <http:operation location="/Excel_GetXml" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersionID">
      <http:operation location="/GetLatestVersionID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersionSetup">
      <http:operation location="/GetLatestVersionSetup" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:4828/Services/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:4828/Services/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://localhost:4828/Services/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://localhost:4828/Services/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>